<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-fingerprint" version="1.0.0">
   <name>fingerprint</name>
   <js-module name="fingerprint" src="www/fingerprint.js">
      <clobbers target="fingerprint" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="fingerprint">
            <param name="android-package" value="cordova.plugin.fingerprint.fingerprint" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/fingerprint.java" target-dir="src/cordova/plugin/fingerprint/fingerprint" />
   </platform>
</plugin>